html {
	scroll-behavior: smooth;
}

.outlined textarea {
	font-family: Courier New, Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, monospace;
}

.m-1 {
	margin: 0.5em;
}

#sapper {
	height: 100%;
}

.s-navigation-drawer a,
.s-list-item__content a {
	text-decoration: none;
}

.s-list-item__content a {
	color: inherit;
}

.theme--light .s-navigation-drawer a {
	color: #00753b !important;
}

.theme--dark .s-navigation-drawer a {
	color: #00ce68 !important;
}

.main {
	padding-top: 5rem;
}

.h-full {
	height: 100%;
}

.h-screen {
	height: 100vh;
}

.m-0 {
	margin: 0 !important;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

/* medium screens and up */
@media (min-width: 768px) {
	.md\:flex-row {
		flex-direction: row;
	}

	.md\:max-width-initial {
		max-width: initial;
	}

	.md\:d-none {
		display: none !important;
	}
}

/* large screens and up */
@media (min-width: 1024px) {
	.lg\:flex-row {
		flex-direction: row;
	}
}

/* medium screens and down */
/* @media (max-width: 768px) {
	.md-and-down\:d-none {
		display: none;
	}
} */
